body{
    background-color: bisque;
    font-family:'Gilroy-Bold', sans-serif;
}

.menu{
    position: absolute;
    margin: 3% 4%;
}

.menu input{
    position: absolute;
    margin: 3% 4%;
    width: 33px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    transition: transform 0.5s;
    z-index: 0;
}

.menu span{
    display: block;
    margin: 3px 0;
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: darkgray;
    z-index: 2;
}

.popup{
    padding: 10px 10px 20px 10px;
    position: absolute;
    width: 130px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 7px ;
    box-shadow:  5px 5px 5px rgb(219, 202, 177);
    transform: translate(-185%, -130%);
    transition: transform 1s;
}


li{
    list-style: none;
    transform: translate(-185%, -130%);
}

a{
    text-decoration: none;
    color: dimgray;
}

a:hover{
    color: black;
}

.first-li{
    transition: transform 0.8s;
}

.second-li{
    transition: transform 0.9s;
}

.third-li{
    transition: transform 1s;
}

.fourth-li{
    transition: transform 1.1s;
}


.menu input:checked ~ .popup ul .first-li{
    transform: none;
}

.menu input:checked ~ .popup ul .second-li{
    transform: none;
}

.menu input:checked ~ .popup ul .third-li{
    transform: none;
}

.menu input:checked ~ .popup ul .fourth-li{
    transform: none;
}

.menu input:checked ~ .popup{
    transform: translate(35%, -20%);   
}

.menu input:hover ~ span{
    background-color: black;
}